body
{
    background: linear-gradient(blue,black);
}
button:hover
{
  cursor: pointer;
}
.body {
  position: absolute;
  padding-top: 0px;
  margin: 10px;
  color: rgb(46, 40, 40);
}
#main
{
  position: absolute;
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-width: 5px;
  border-radius: 10px;
  width: 700px;
  height: 1100px;
  margin-top: 0px;
  background-color: #eaf6f6;
  background-image: url("./images/darth-vader-minimalism-lightsaber-portrait-display-wallpaper-preview.jpg");
}
.h1 {
  border-style: dotted;
  text-align: center;
  background-color: rgb(241, 199, 134);
  border-radius: 10px;
  border-width: 2px;
  margin-left: 100px;
  margin-right: 100px;
}
#counter {
  font-size: 100px;
  border-style: solid;
  border-color: red;
  background-color: rgb(104, 230, 198);
  margin-top: 150px;
  margin-left: 460px;
  margin-right: 80px;
  margin-bottom: 200px;
  text-align: center;
}
.i1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  width: 200px;
  margin-left: 30px;
  margin-bottom: 50px;
  background:linear-gradient( rgb(230, 204, 204),rgb(38, 38, 241));
}
.d1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  margin-bottom: 30px;
  width: 200px;
  margin-left: 260px;
  background:linear-gradient(rgb(255, 0, 0),rgb(253, 253, 253));
}
.i2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 10%;
  height: 50px;
  width: 200px;
  margin-left: 30px;
  background:linear-gradient(rgb(230, 204, 204),rgb(38, 38, 241));
}
.d2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  margin-bottom: 30px;
  width: 200px;
  margin-left: 260px;
  background:linear-gradient(rgb(255, 0, 0),rgb(253, 253, 253));
}
.i3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  width: 200px;
  margin-left: 30px;
  background:linear-gradient( rgb(230, 204, 204),rgb(38, 38, 241));
}
.d3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  width: 200px;
  margin-left: 260px;
  background:linear-gradient(rgb(255, 0, 0),rgb(253, 253, 253));
}

.saveBtn
{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  height: 50px;
  width: 200px;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 30px;
  background:linear-gradient(rgb(30, 250, 30),cyan);
}

#psaves
{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 90px;
  background-color: salmon;
  text-shadow: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
}

